<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<title>BravoEC | 雑貨通信販売</title>

<link href="/css/reset.css" th:href="@{/css/reset.css}" rel="stylesheet" />
<link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script> <!-- scriptを使えるようにする -->

<script>
$(() => {
	$('#cartButton').on('click', (event) => {
		let productId = $('#productId').val();
		let productCount = $('#productCount').val();
		
		addCart(productId, productCount);
	});
});
</script>
</head>

<body>

<header th:insert="fragments/page_header::pageHeader"></header>

<main>	
	
    <div class="container"  th:each="product : ${product}">
		<table class="top">
			<caption><label th:text="${product.productName}"></label> (<label th:text="${product.productNameKana}"></label>)</caption>  <!--商品見出しを表示する-->
			<tr>
				<th>画像</th><th>価格</th><th>発売元</th><th>発売年月日</th>
			</tr>
			<tr>
				<td class = "imageDetail">
					<img class = "itemImageDetail" th:src="${product.imageFullPath}" alt = "" />   <!--商品写真を呼び出す-->
			 	</td>
             	<td class="number" th:text="${product.price} + '円'" />           <!--商品の値段を呼び出す-->
          	  	<td th:text="${product.releaseCompany}" />  <!--発売元を呼び出す-->
           	  	<td th:text="${product.releaseDate}" />     <!--発売日を呼び出す-->
			</tr>
		</table>
			<label id="description">商品説明</label>
            <textarea cols="75" rows="5" size="30" readonly th:text="${product.productDescription}"></textarea> <!--商品詳細説明の呼び出し-->
	

	<!--スピンボタンを常に表示させる-->
    <style>
        input[type=number]::-webkit-inner-spin-button,    
        input[type=number]::-webkit-inner-spin-button {
                opacity: 1;
        }
    </style>


        <hr />	
        <div class="buttonArea">
            <label>購入個数</label>
			<input type="number" id="productCount" name="productCount" class="count number" value="0" min="0" step="1"/>
			<input type="hidden" id="productId" name="productId" th:value="${product.id}"/>
            <button id="cartButton">カートに追加 </button>
        </div>
     </div>
 
</main>

</body>


</html>